.container {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.path_name {
  font-size: large;
  font-weight: 500;
  color: #2d2d2d;
  text-transform: uppercase;
}

.grid {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.item {
  background-color: #fff;
  height: 50px;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
}

.item:hover {
  background: #eaeaea;
}
